<!DOCTYPE html>
<html ng-strict-di ng-class="{'overflow-y-hidden-on-play-page': main.isInPage('/playGame/')}" manifest="index.appcache">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Social games</title>
  <meta name="description" content="Social games">
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <meta name="format-detection" content="telephone=no" />
  
  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <link rel="stylesheet" href="css/app.min.css"/>

<script type="text/ng-template" id="html-templates/mainPage.html">
<div class="header">
  <div id="test_game_name" class="game-name">{{main.game().name()}}</div>
  <div class="main-avatar-container">
    <img id="test_my_avatar_img" alt="Your avatar" ng-click="main.showMyInfoModal()"
      ng-src="{{main.me().getAvatarImage()}}" class="avatar">
  </div>
</div>

<div id="test_open_new_match_modal" class="button new-match-button" ng-click="main.showModal('newMatchModal')">
  {{ 'MAIN_NEW_MATCH_GROUP_TITLE' | translate }}
</div>

<div ng-if="main.yourTurnMatches().length">
  <div class="card-group-title">{{ 'MAIN_MATCH_GROUP_YOUR_TURN_MATCHES' | translate }}</div>
  <div class="card-group">
    <div class="match"
        ng-repeat="match in main.yourTurnMatches() track by match.getMatchId()">
      <div class="top" ng-click="match.load()">
        <div class="subtitle">{{ 'MAIN_MATCH_LAST_MOVE_ON' | translate }} <span class="short-date-fixed-width">{{match.updatedTime() | date:'short'}}</span></div>
        <div class="subtitle">{{ 'MAIN_MATCH_STARTED_ON' | translate }} <span class="short-date-fixed-width">{{match.createdTime() | date:'short'}}</span></div>
      </div>
      <div class="img-container">
        <img alt="Player avatar" ng-class="{img: true}"
            ng-repeat="player in match.getPlayers({limit:1, excludeMe: true})"
            ng-src="{{player.getAvatarImage()}}"
            ng-click="main.showPlayerInfoModal(player, match)">
      </div>
    </div>
  </div>
</div>
<div ng-if="main.opponentTurnMatches().length">
  <div class="card-group-title">{{ 'MAIN_MATCH_GROUP_OPPONENT_TURN_MATCHES' | translate }}</div>
  <div class="card-group">
    <div class="match"
        ng-repeat="match in main.opponentTurnMatches() track by match.getMatchId()">
      <div class="top" ng-click="match.load()">
        <div class="subtitle">{{ 'MAIN_MATCH_LAST_MOVE_ON' | translate }} <span class="short-date-fixed-width">{{match.updatedTime() | date:'short'}}</span></div>
        <div class="subtitle">{{ 'MAIN_MATCH_STARTED_ON' | translate }} <span class="short-date-fixed-width">{{match.createdTime() | date:'short'}}</span></div>
      </div>
      <div class="img-container">
        <img alt="Player avatar" ng-class="{img: true}"
            ng-repeat="player in match.getPlayers({limit:1, excludeMe: true})"
            ng-src="{{player.getAvatarImage()}}"
            ng-click="main.showPlayerInfoModal(player, match)">
      </div>
    </div>
  </div>
</div>
<div ng-if="main.endedMatches().length">
  <div class="card-group-title">{{ 'MAIN_MATCH_GROUP_ENDED_MATCHES' | translate }}</div>
  <div class="card-group">
    <div class="match"
        ng-repeat="match in main.endedMatches() track by match.getMatchId()">
      <div class="top" ng-click="match.load()">
        <div class="title">{{match.getMatchStatusText({showDisplayName:false})}}</div>
        <div class="subtitle">{{ 'MAIN_MATCH_LAST_MOVE_ON' | translate }} <span class="short-date-fixed-width">{{match.updatedTime() | date:'short'}}</span></div>
      </div>
      <div class="img-container">
        <img alt="Player avatar" ng-class="{img: true}"
            ng-repeat="player in match.getPlayers({limit:1, excludeMe: true})"
            ng-src="{{player.getAvatarImage()}}"
            ng-click="main.showPlayerInfoModal(player, match)">
      </div>
    </div>
  </div>
</div>
</script>


<script type="text/ng-template" id="html-templates/playPage.html">
<div ng-if="main.currentMatch()">
  <div class="container-fluid nonexpanding nomargins">
    <div ng-if="main.shouldShowTopBar()" class="game_header">
      <div class="game_header_inner">
        <button id="test_open_extra_match_options_modal" type="button" class="button"
            style="height: 50px; margin-right: 5px; padding: 8px 16px 8px 16px; font-size: 20px; font-weight: bold; background-color: #fff"
            ng-click="main.showModal('extraMatchOptionsModal')">
          &vellip;
        </button>
        <div style="padding: 5px">
          <div class="next-player">
            <img alt="Player avatar" ng-class="{avatar: true, 'avatar-has-turn': main.currentMatch().isTurnOf(player)}"
                ng-repeat="player in main.currentMatch().getPlayers({limit:3, excludeSinglePlayer: true})"
                ng-src="{{player.getAvatarImage()}}"
                ng-click="main.showPlayerInfoModal(player, main.currentMatch())">
            <span id="test_match_status_text">
              {{main.currentMatch().getMatchStatusText({showDisplayName:true})}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="test_toggle_top_bar" class="topbar_toggler" ng-click="main.toggleTopBar()">
      <span class="topbar_toggler_span">&#10092;</span>
    </div>
  </div>
  <!-- Extra match options Modal -->
  <div ng-controller="ModalCtrl as modal" ng-init="modal.init('extraMatchOptionsModal')">
    <div class="overlayModal" ng-click="modal.backdrop($event)" ng-if="modal.isShowing()" aria-hidden="true">
      <div class="modal-dialog">
        <div id="test_goto_main" class="menu-item" ng-click="main.changePage('/main')">
          <div class="text">{{ 'TO_MAIN_MENU' | translate }}</div>
        </div>
        <div id="test_extra_match_options_open_new_match_modal" class="button new-match-button" ng-click="main.showModal('newMatchModal')">
          {{ 'MAIN_NEW_MATCH_GROUP_TITLE' | translate }}
        </div>
        <div id="test_share_invite_link_with_printscreen" class="menu-item" ng-click="modal.hide(); main.shareInviteLink({takePrintscreen: true})">
          <div class="text">{{ 'MATCH_SHARE_PRINTSCREEN' | translate }}</div>
        </div>
        <div id="test_dismiss_match" class="menu-item" ng-click="main.currentMatch().dismissAndLoadNextMatchOrMainPage();"
            ng-if="!main.currentMatch().isSinglePlayer()">
          <div class="text">{{ main.currentMatch().isOver() ? 'MATCH_DELETE' : 'MATCH_RESIGN_AND_DELETE' | translate }}</div>
        </div>
        <div id="test_load_next" class="menu-item" ng-click="main.currentMatch().getNextMatch().load()"
            ng-if="main.currentMatch().getNextMatch()">
          <div class="text">{{ 'MATCH_LOAD_NEXT' | translate }}</div>
        </div>
        <button id="test_close_extra_match_options_modal" type="button" class="btn btn-default" ng-click="modal.hide()">
          {{ 'MODAL_BUTTON_CLOSE' | translate }}
        </button>
      </div>
    </div>
  </div>
  <!-- Game over Modal (prettier than notification) -->
  <div ng-controller="ModalCtrl as modal" ng-init="modal.init('gameOverModal')">
    <div class="overlayModal" ng-click="modal.backdrop($event)" ng-if="modal.isShowing()" aria-hidden="true">
      <div class="modal-dialog">
        <h4 id="test_game_over_match_title">{{ 'MODAL_TITLE_MATCH_OVER' | translate }}</h4>
        <div id="test_game_over_match_status">
          {{main.currentMatch().getMatchStatusText({showDisplayName:true})}}
        </div>
        <button id="test_share_invite_link_after_victory" type="button" class="btn btn-primary"
            ng-if="main.didWinMultiplayerMatch()"
            ng-click="main.closeGameOverModal(); main.shareInviteLink({takePrintscreen: true, translationIdPrefix: 'SHARE_INTENT_WON_GAME'})">
          {{ 'SHARE_INTENT_WON_GAME_TAKE_SCREENSHOT' | translate }}
        </button>
        <div id="test_game_over_rematch" class="menu-item" ng-click="main.currentMatch().startNewMatch()"
            ng-if="main.currentMatch().canRematch()">
          <div class="text">
            {{ main.translateRematch() }}
          </div>
        </div>
        <button id="test_close_game_over_modal" type="button" class="btn" ng-click="main.closeGameOverModal()">
          {{ 'MODAL_BUTTON_CLOSE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
</script>


<script type="text/ng-template" id="html-templates/inviteFriendsPage.html">
<div class="friends-invite">
  <!-- Header with optional search. -->
	<div class="header">
    <div class="header-inner" ng-if="!main.fb().showNameFilter()">
      <button id="test_goto_main" class="button back-button" ng-click="main.changePage('/main')"
              style="height: 40px; width: 40px; margin-left: -5px; padding: 5px; font-size: 15px">
        <span class="back-button-icon"></span>
      </button>
   		<div class="title">{{ 'FB_FRIENDS_TITLE' | translate }}</div>
	  	<a id="test_start_name_filter" class="search-button"
         href="javascript:void(0)"
         ng-click="main.fb().toggleNameFilter()"></a>
    </div>
    <div class="header-inner" ng-if="main.fb().showNameFilter()">
      <input class="filter-input" ng-model="main.model().facebookFriendsFilter">
      <a id="test_cancel_name_filter" class="cancel-button" ng-click="main.fb().toggleNameFilter()" title="Cancel">{{ 'FB_FRIENDS_FILTER_CANCEL' | translate }}</a>
    </div>
	</div>
  <!-- Friends list. can be filtered by using the search in the header. -->
	<ul class="friends-list" ng-if="main.fb().friends().length > 0">
		<li class="friend" ng-repeat="friend in main.fb().friends() | filter:main.model().facebookFriendsFilter">
				<img alt="Friend avatar" ng-src="{{friend.getAvatarImage()}}">
				<div class="name">{{friend.getDisplayName()}}</div>
        <span class="invite-button" ng-click="main.fb().startMatchWith([friend])">{{ 'FB_FRIENDS_ACTION_INVITE' | translate }}</span>
		</li>
	</ul>
	<div id="test_invite_friends_fb_login" ng-if="main.fb().showLoginButton()" ng-click="main.fb().login()" class="facebook-login">
		{{ 'MAIN_LOG_IN_WITH_FACEBOOK' | translate }}
	</div>
	<div id="test_no_friends_msg" class="no-friends-msg" ng-if="main.fb().friends().length == 0 && main.fb().isLoggedIn()">
		{{ 'FB_FRIENDS_DID_NOT_INSTALL_APP' | translate }}
	</div>
</div>
</script>


</head>
<body ng-class="{'overflow-y-hidden-on-play-page': main.isInPage('/playGame/'), 'backgroundColor': main.isFinishedLoading()}">

<img ng-if="!main.isFinishedLoading()"
  style="position: absolute; display:block; left: 0; top: 0; right: 0; bottom: 0; margin: auto;"
  src="imgs/animatedEllipse.gif">

<div ng-if="main.isFinishedLoading()" ng-cloak>
  <div ng-view class="autoscroll: true;"></div>

  <div class="notifications-container">
    <div class="notification" ng-repeat="notification in main.notifications()">
      <div class="notification-content">
        <img alt="Player avatar" class="avatar notification-avatar"
            ng-if="notification.player()" width="50" height="50"
            ng-click="main.showPlayerInfoModal(notification.player(), notification.match())"
            ng-src="{{notification.player().getAvatarImage()}}">
        <div ng-click="notification.onClick()">
          <div class="notification-title" ng-if="notification.title()">{{notification.title()}}</div>
          <div class="notification-body" ng-if="notification.message()">{{notification.message()}}</div>
        </div>
      </div>
      <div class="notification-dismiss" ng-click="notification.onClose()">X</div>
    </div>
  </div>

  <div ng-show="main.showGameIframe()"
    ng-class="main.shouldShowTopBar() ? 'opened_game_header' : 'closed_game_header'"
    class="game_container overflow-y-hidden-on-play-page"
    ng-bind-html="main.game().getIframeHtml()"></div>

  <!-- Starting a new match Modal -->
  <div ng-controller="ModalCtrl as modal" ng-init="modal.init('newMatchModal')">
    <div class="overlayModal" ng-click="modal.backdrop($event)" ng-if="modal.isShowing()" aria-hidden="true">
      <div class="modal-dialog">
        <div id="test_start_rematch" class="menu-item" ng-click="main.currentMatch().startNewMatch()"
            ng-if="main.currentMatch() && main.currentMatch().canRematch() && main.isInPage('/playGame/')">
          <div class="text">{{ main.translateRematch() }}</div>
        </div>
        <div id="test_start_multiplayer_auto_match" class="menu-item" ng-click="main.newMultiplayerAutoMatch()">
          <div class="text">{{ 'MAIN_NEW_AUTO_MATCH_TITLE' | translate }}</div>
        </div>
        <div id="test_goto_invite_friends" class="menu-item" ng-click="main.changePage('/inviteFriends')">
          <div class="text">{{ 'MAIN_INVITE_FRIENDS_TITLE' | translate }}</div>
        </div>
        <!-- I set image&message&subject to false because otherwise sharing via FB fails on Android. -->
        <div id="test_share_invite_link_no_printscreen" class="menu-item" ng-click="main.shareInviteLink({takePrintscreen: false, link: true, image: false, message: false, subject: false})">
          <div class="text">{{ 'MAIN_SHARE_INVITE_LINK_TITLE' | translate }}</div>
        </div>
        <div id="test_start_practice" class="menu-item" ng-click="main.newSinglePlayer('practice')" ng-if="!main.game().isHidePracticeOption()">
          <div class="text">{{ 'MAIN_PRACTICE_TITLE' | translate }}</div>
        </div>
        <div id="test_start_pass_and_play" class="menu-item" ng-click="main.newSinglePlayer('passAndPlay')" ng-if="!main.game().isHidePassAndPlayOption()">
          <div class="text">{{ 'MAIN_PASS_AND_PLAY_TITLE' | translate }}</div>
        </div>
        <button id="test_close_new_match_modal" type="button" class="btn btn-default" ng-click="modal.hide()">
          {{ 'MODAL_BUTTON_CLOSE' | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- Other player (not me) info Modal -->
  <div ng-controller="ModalCtrl as modal" ng-init="modal.init('playerInfoModal')">
    <div class="overlayModal" ng-click="modal.backdrop($event)" ng-if="modal.isShowing()" aria-hidden="true">
      <div class="modal-dialog">
        <div class="notification-content">
          <table>
            <td>
              <img id="test_player_info_img" alt="Player avatar" class="avatar notification-avatar"
                  width="50" height="50"
                  ng-src="{{main.playerInPlayerInfoModal().getAvatarImage()}}">
            </td>
            <td>
              <div id="test_player_info_name">{{main.playerInPlayerInfoModal().getDisplayName()}}</div>
            </td>
          </table>
        </div>

        <div id="test_player_info_chat_sent" class="form-group" ng-if="main.didSendChat() && !main.playerInPlayerInfoModal().isUnknown()">
          {{ 'CHAT_SENT' | translate }}
        </div>
        <div class="form-group" ng-if="!main.didSendChat() && !main.playerInPlayerInfoModal().isUnknown()">
          <label>
            <input type="text" class="form-control auto_width" ng-model="main.model().chatMessage">
          </label>
          <button id="test_player_info_send_chat" class="btn" ng-click="main.sendChat(main.model().chatMessage, main.playerInPlayerInfoModal(), main.matchInPlayerInfoModal())">
            {{ 'MODAL_BUTTON_SEND_CHAT' | translate }}
          </button>
        </div>
        <div class="form-group" ng-if="!main.playerInPlayerInfoModal().isUnknown()">
          <button id="test_player_info_toggle_blocking" class="btn smallertext"
              ng-click="main.toggleBlocking(main.playerInPlayerInfoModal())">
            {{ main.isBlocking(main.playerInPlayerInfoModal()) ? 'MODAL_BUTTON_UNBLOCK' : 'MODAL_BUTTON_BLOCK' | translate }}
          </button>
        </div>

        <button id="test_close_player_info" type="cancel" class="btn" ng-click="modal.hide()">
          {{ 'MODAL_BUTTON_CLOSE' | translate }}
        </button>
        <button id="test_player_info_invite_to_match" class="btn" ng-if="!main.playerInPlayerInfoModal().isUnknown()"
            ng-click="main.startMatchWith([main.playerInPlayerInfoModal()])">
          {{ 'MODAL_BUTTON_INVITE_TO_NEW_MATCH' | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- My info Modal -->
  <div ng-controller="ModalCtrl as modal" ng-init="modal.init('myInfoModal')">
    <div class="overlayModal" ng-click="modal.backdrop($event)" ng-if="modal.isShowing()" aria-hidden="true">
      <div class="modal-dialog">
        <form role="form" ng-submit="main.saveMyInfo()">
          <h4 id="test_my_info_title">{{ 'MODAL_TITLE_USER_INFO' | translate }}</h4>
          <!-- First choose language! Then FB login. Also, after logging in to FB, we close myInfoModal. -->
          <div class="bottom-bar">
            <select class="button" ng-if="main.l10n().getSupportedLanguages().length > 1"
                ng-model="main.model().currentLanguage" ng-change="main.l10n().changeLanguage(main.model().currentLanguage)"
                ng-options="language.code as language.name for language in main.l10n().getSupportedLanguages()"></select>
            <div id="test_open_feedback_modal" class="button" ng-click="main.showModal('feedbackModal')">{{ 'MAIN_FEEDBACK_AND_BUGS_TITLE' | translate }}</div>
          </div>
          <div class="form-group">
            <div id="test_my_info_fb_login" ng-if="main.fb().showLoginButton()" ng-click="main.fb().login()" class="facebook-login">
              {{ 'MAIN_LOG_IN_WITH_FACEBOOK' | translate }}
            </div>
          </div>
          <!-- newDisplayName and newUserName will only be persisted after clicking save. -->
          <div class="form-group" ng-if="!main.fb().isLoggedIn()">
            <label>
              {{ 'MODAL_USER_INFO_NAME' | translate }}:
              <input type="text" class="form-control" ng-model="main.model().newDisplayName" maxlength="30" required>
            </label>
          </div>
          <div class="form-group">
            <label>
              {{ 'MODAL_USER_INFO_USERNAME' | translate }}:
              <input type="text" class="form-control" ng-model="main.model().newUserName" maxlength="30" required>
            </label>
            <div id="test_my_info_username_was_taken" ng-if="main.newUserNameWasTaken()">{{ 'MODAL_USER_INFO_USERNAME_WAS_TAKEN' | translate }}</div>
          </div>
          <button id="test_my_info_submit" type="submit" class="btn btn-primary">
            {{ 'MODAL_BUTTON_SAVE' | translate }}
          </button>
          <button id="test_my_info_cancel" type="cancel" class="btn" ng-click="modal.hide()">
            {{ 'MODAL_BUTTON_CLOSE' | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Feedback Modal -->
  <div ng-controller="ModalCtrl as modal" ng-init="modal.init('feedbackModal')">
    <div class="overlayModal" ng-click="modal.backdrop($event)" ng-if="modal.isShowing()" aria-hidden="true">
      <div class="modal-dialog">
        <h4>{{ 'MODAL_TITLE_FEEDBACK_AND_BUGS' | translate }}</h4>
        <textarea ng-model="main.model().feedbackText" rows="5"
            placeholder="{{ 'MODAL_FEEDBACK_AND_BUGS_PLACEHOLDER_TEXT' | translate }}" required></textarea>
        <button type="button" class="btn btn-primary" ng-click="main.sendFeedback(main.model().feedbackText)">{{ 'MODAL_BUTTON_SEND_FEEDBACK_AND_BUGS' | translate }}</button>
        <button id="test_close_feedback_modal" type="button" class="btn btn-default" ng-click="modal.hide()">
          {{ 'MODAL_BUTTON_CLOSE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

<script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>

<script crossorigin="anonymous" src="http://www.multiplayer-gaming.com/api/loader.min.js?app=v200"></script>

</body>
</html>
