[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
html, body {
  margin: 0; padding: 0; width: 100%; height: 100%;
}

/* For vertical centering, see http://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.horizontal-center {
  margin: 0 auto;
  text-align: center;
}
.avatar {width: 50px; height: 50px; border-radius: 25px; }
.gameHeader { width: 320px; height: 50px; display: block; }
.gameIcon {width: 50px; height: 50px; }
/* Copied from app.css */
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn {
  display: inline-block;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.languageSelect {
  display: block;
  text-transform: none;
  vertical-align: middle;
  padding: 12px;
  border: 1px solid #777;
  color: #777;
  border-radius: 4px;
  font-size: 15px;
  background-color: #e9e9e9;
  background: #e9e9e9;
  height: 50px;
  line-height: 50px;
}
