
/* For the tables in the game developer site. */
tr, td, th {
  margin: 4px;
  padding: 4px;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.smallfont {
  font-size: 9px;
}
